
#container{
    height: 700px;
    font-size: 18px;
    width: 360px;
    margin: 110px auto;
    background: white;
    box-shadow: 5px 10px 5px rgb(90, 89, 89);
    border-radius: 40px;
}

#confirmacao{
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: black;
    margin-left: 15px;
}

.formSubmit{ 
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--second-color);
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    font-size: 17px;
    box-shadow: 3px 7px 3px rgb(90, 89, 89);
}
.enviar{
    font-weight: bold;
    text-transform: uppercase;
    background-color:white;
    display: block;
    margin-top: 30px;
    margin-left: 15px;   
    border-radius: 20px;
    width: 130px;
    height: 25px;
    font-size: 11px;
    box-shadow: 3px 7px 3px rgb(90, 89, 89);
}

.cadastroForm {
    padding-left: 20px;
    padding-right: 20px;
}
.nomenoForm{
    font-size: 14px;
}
.cadNome{
    background: white;
    width: 200px;
    height: 11px;
    padding: 5px 5px 8px 8px;
    font-size: 14px;
    border: 1px solid ;
}
.cadNome:focus {
    border: 2px solid lightseagreen;
    outline: none;
}
.cadEmail {
    width: 200px;
    height: 11px;
    padding: 5px 5px 8px 8px;
    font-size: 10px ;
    border: 1px solid ;
}
.emailLog {
    font-size: 14px;
}
.cadNome {
    background: white;
    width: 200px;
    height: 11px;
    padding: 5px 5px 8px 8px;
    font-size: 14px;
    border: 1px solid ;
}
.cadEmail:focus {
    border: 2px solid lightseagreen;
    outline: none;
}

.cadSenha{
    font-size: 14px;
}
#totalTip{
 font-size: 20px;
 margin-top: 5px;
 text-align: center;
}
