<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Site</title>
</head>
<body>
    <div>
        <h1 id="titulo" class="titulo"> Início</h1>
    </div>

    <div>
        <form class="Form" id="Form"> 
            <fieldset>
            <label for="login">
                <p>Bem Vindo, vamos acessar sua conta</p>
            </label>
            <label for="pgtConfirmarConta" id="confirmacaoLog">
            <p>
                
                Você já possui conta? 
               
            </p>
        </label>
        <p>
            <select name="pgtConfirmarConta" id="confirmacao" required>
                <option disabled selected value ="0">Escolha uma opção</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
        </p>
     </fieldset>
        </form>
    </div>
</body>
</html>