<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="inicio.css">
    <link rel="stylesheet" href="cadastro.css">
    <link rel="stylesheet" href="login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Site</title>
</head>
<body>
    <div>
        <h1 id="titulo" class="titulo"> Início</h1>
    </div>

    <div>
        <fieldset class="fieldset">
            <label for="login" class="loginTitulo">
                <p>Bem Vindo, vamos acessar sua conta</p>
            </label>
        <form class="Form" id="Form"> 
            <label for="pgtConfirmarConta" id="confirmacaoLog">
            <p class="pgt">
                Você já possui conta? 
            </p>
        <p>
            <select name="pgtConfirmarConta" id="confirmacao" required>
                <option disabled selected value ="0">Escolha uma opção</option>
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>
         </label>
        </p>
        <button type="submit" class="enviar"> Enviar Resposta</button>
     </fieldset>
        </form>
    </div>
    <!--Cadastro-->
    <div id="container">
        <div>
            <h1 id="tituloForm">Cadastro</h1>
        </div>
        <div>
            <h3 id="conteudoForm"> Vamos iniciar seu login, por favor insira suas informações abaixo:</h3>
        </div>
        <div>
            <form class="cadastroForm" id="cadastroForm">
                <label for="cadNome" class="nomenoForm">
                    <p>Nome Completo</p>
                </label>
                <p>
                    <input type="text" name="cadNome" class="cadNome" required>   
                </p>
                <label for="cadEmail" id="emailnoFormCad">
                    <p class="emailCad">Email</p>
                <p>
                    <input type="email" name="cadEmail" class="cadEmail" required>
                </p>
                 </label>
                <label for="cadSenha" class="senhanoFormCad"> 
                    <p>Senha</p>
                </label>
                <p>
                    <input type="password" name="cadSenha" id="cadSenha" required>
                </p>
                <input type="checkbox" name="mostrarSenha" id="mostrarSenha">Exibir senha
                <button type="submit" class="formSubmit">Cadastrar</button>
                
            </form>
        </div>
        <div id="confirmResponse">
            Cadastro 
            <span id="confirmCad">realizado com sucesso</span>
            <span id="erroCad">não realizado, por favor insira informações validas e tente novamente </span>
        </div>

        
    </div>
    <div id="container">
        <div>
            <h1 id="tituloForm">Login</h1>
        </div>
        <div>
            <h3 id="conteudoForm"> Por favor, insira seus dados para realizar o login em sua conta</h3>
        </div>
        <form class="FormLogin" id="FormLogin">
            <label for="loginEmail" class="logEmail"> </label>
                <p class="emailLog"> Insira seu email </p>
                <p>
                    <input type="email" name="loginEmail" class="loginEmail">
                </p>
           
            <label for="loginSenha" class="logSenha"></label>
                <p> Insira sua senha </p>
            <p>
            <input type="password" name="loginSenha" class="loginSenha">
            </p>
        </form>
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>